.App {
  text-align: center;
}

.container {
  background-color: #000000;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  position: relative;
}

#window {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#background {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.text-box {
  position: fixed;
  margin: 0 auto;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

h1 {
  color: #f5deb3;
  font-family: 'Noto Sans KR';
  margin:0;
  font-size:3rem;
  font-weight: 200;
}

h2{
  color: #fff2db;
  font-family: 'Noto Sans KR';
  margin:0;
  font-size:3rem;
  font-weight: 800;
}

h3 {
  width:100%;
  color: #ecbe69;
  font-family: 'Noto Sans KR';
  font-weight: 600;
  width:210px;
}

.share-btn {
  position:fixed;
  top:20px;
  right:20px;
}